*{
    margin: 0;
    padding: 0;
    box-sizing: border- box;
}


 body{  
    font-family: 'Poppins', sans-serif;
    background-color: rgb(236, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contenedor{
width: 90%;
max-width: 400%;
background-color: rgb(215, 234, 234);
border-radius: 20%;
padding: 40%;
text-align: center;
box-shadow:  0 opx 15px rgba rgb(226, 214, 214)
}

h1{
  color: black; 
  margin-bottom: 15px;
}
 
p{
color: cadetblue;
margin-bottom: 30px;
}

.button{
  width: 100%;  
  padding: 15%;
  border: none;
  border-radius: 5px;
  background-color: aquamarine;
  color: black;
  font-size: 16px;
  cursor: pointer;
   }

.button:hover {
    color: rgb(222, 225, 220);
     margin-bottom: 16px;
   }